<section id="o-que-fazemos">
  <h2>O Que Fazemos</h2>
  <p>
    Ações e projetos voltados à educação e à valorização do manguezal como
    Patrimônio Ambiental e Cultural.
  </p>
</section>

<section id="escola-manguezal-vivo">
  <h2>Escola Manguezal Vivo</h2>
  <p>Levamos as atividades até instituições e empresas.</p>

  <article>
    <h3>Oficinas e Palestras</h3>
    <p>Atividades educativas interativas sobre temas ambientais.</p>
  </article>

  <article>
    <h3>Cultura Oceânica e Educação Climática</h3>
    <p>Experiências sobre a biodiversidade marinha e a crise climática.</p>
  </article>

  <article>
    <h3>Experiência Personalizada</h3>
    <p>Vivências e expedições adaptadas ao público.</p>
  </article>

  <article>
    <h3>Recursos Educativos</h3>
    <p>Cartilhas, guias e infográficos para diferentes faixas etárias.</p>
  </article>

  <article>
    <h3>Responsabilidade Socioambiental</h3>
    <p>Projetos para instituições que querem integrar práticas sustentáveis.</p>
  </article>

  <article>
    <h3>Feiras e Exposições</h3>
    <p>Exposições interativas sobre a biodiversidade dos manguezais.</p>
  </article>
</section>

<section id="voluntariado">
  <h2>Seja Voluntário</h2>
  <p>
    Faça parte do Manguezal Vivo e contribua para preservar esse ecossistema tão
    importante. Junte-se a pessoas que compartilham o mesmo propósito: cuidar do
    meio ambiente e fazer a diferença!
  </p>
  <p>Clique abaixo e participe.</p>
  <a href="#/cadastro" data-rota>Quero ser Voluntário</a>
</section>

<section id="doacoes">
  <h2>Apoie e Faça Parte</h2>
  <p>
    Apoie o Manguezal Vivo e ajude a preservar nosso ecossistema. Sua doação
    fortalece ações de recuperação, educação e conscientização ambiental.
    Junte-se a nós e faça parte dessa transformação!
  </p>

  <aside aria-label="Dados para doação">
    <h3>Como doar</h3>

    <input type="checkbox" id="modal-doacao" class="modal-toggle" />

    <div class="doacao-info">
      <p>Chave pix: promanguezalvivo@gmail.com</p>
      <label for="modal-doacao" class="btn-secundario" style="cursor: pointer"
        >Ver QR Code</label
      >
    </div>

    <label
      for="modal-doacao"
      class="modal-fundo"
      role="dialog"
      aria-labelledby="titulo-modal"
    >
      <div class="modal-caixa" onclick="event.stopPropagation()">
        <img
          src="../../imagens/pix-2.webp"
          alt="QR Code Pix para doação ao Manguezal Vivo"
          class="modal-qrcode"
        />
        <label for="modal-doacao" class="modal-fechar">Fechar</label>
      </div>
    </label>
  </aside>
</section>
